*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/*------------------------ HEADER İMG ---------------------------*/

.header{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header a{
    margin-bottom: 0;
}

.header-img img{
    margin: 7px auto 0 auto;
    width: 1140px;
    height: 300px;
}

.header-img{
    width: 1140px;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

/*--------------------------- NAVBAR --------------------------*/

.navbar{
    border-radius: 6px;
    background-color:#006699;
    width: 1140px;
    margin: 0 auto 0 auto;
}

.navbar ul{
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
}

.navbar li{
    display: inline-flex;
    align-items: center;
    width: 195px;
    margin: 0;
    list-style: none;
    height: 52px;
}

.navbar a{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center; 
    background-image: -webkit-linear-gradient(top, #0099FF 0%,#006699 100%);
    border: thin solid #005588;
    width: 100%;
    height: 52px;
}

.navbar li:first-child a{
    border-radius: 5px 0 0 5px;
}

.navbar li:last-child a{
    border-radius: 0 5px 5px 0;
}


.navbar li a:hover, .navbar li a:focus{ 
	color: black;
	background-color: #22BBFF; 
	background-image: none;
	box-shadow: inset 0 3px 7px rgba(0,0,0,.25);
}

.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
  color: #000000;
  background-color: #22BBFF;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.25);
}

/*-------------------------- İÇERİK ---------------------------*/

.gorselicerik{
    margin: 30px auto;
    width: 100%;
}

.icerik1, .icerik2, .icerik3{
    display: inline-block;
    margin: 0 auto;
    padding-left: -15px;
    padding-right: -15px;
    width: 350px;
    float: inline-start;
    line-height: 1.6;
}


.icerik{
    
    
    width: 360px;
    
}

.gorsel{
    width: 360px;
    height: 180px;
    border-radius: 5px;
    float: left; 
    margin-right: 20px; 
    margin-bottom: 15px;
}